<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculator" />
                <binding name="BasicHttpsBinding_ICalculator">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://simplewcf20180212072154.azurewebsites.net/CalculatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculator"
                contract="CalculatorService.ICalculator" name="BasicHttpBinding_ICalculator" />
            <endpoint address="https://simplewcf20180212072154.azurewebsites.net/CalculatorService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ICalculator"
                contract="CalculatorService.ICalculator" name="BasicHttpsBinding_ICalculator" />
        </client>
    </system.serviceModel>
</configuration>